<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content custom-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Iniciar Sesion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"
                    title="Cerrar"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label">Correo Electronico</label>
                        <input type="email" class="form-control" id="email" placeholder="nombre@ejemplo.com"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" placeholder="Contraseña" required>
                    </div>
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=admin@PetMarket.com&su=Recuperar%20contraseña&body=Perdí%20mi%20contraseña"
                        target="_blank">
                        ¿Olvidaste tu contraseña?
                    </a>
                    <button type="submit" class="btn btn-primary w-100 mt-3">Iniciar Sesion</button>
                </form>
            </div>
        </div>
    </div>
</div>